* {
    margin:0;
    padding:0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: #343a40;
    color: #f8f9fa;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#counter {
    font-size: 6em;
    font-weight: bold;
    -webkit-text-stroke: .02em #C0C0C0;
}
