* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 2em;
    font-weight: bold;
}
section span:before {
    content: attr(data-text)
}
